/* Main - InputForm */
.main__inputform {
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 64px;
}

.inputform__inner {
    display: flex;
    align-items: center;
    column-gap: 90px;
}

.inputform__flex {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.inputform__title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #159EEC;
    margin-bottom: 16px;
}

.inputform__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr) 200px 1fr;
    border: 0;
}

.inputform__grid input,
.inputform__grid textarea {
    padding: 20px 40px;
    background: #1F2B6C;
    border: 1px solid #BFD2F8;   
    color: #FCFEFE;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.inputform__grid input::placeholder,
.inputform__grid textarea::placeholder {
    color: #fcfefe;
}

#inputbox_message {
    grid-column: 1 / 3;
    text-align: start;
}

#inputbox_message input::placeholder {
    text-align: left;
}

#inputbox_submit {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    background: #BFD2F8;   
    color: #1F2B6C;
    font-weight: 500;
}



/* Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #1F2B6C;
    /* flex: 1; */
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 400;
    color:#fff;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.department {
    position: relative;
    display: flex;
    background: #1F2B6C;
    overflow: hidden;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .3s all ease;
}